{% extends "auctions/layout.html" %}

{% block body %}
    {% if auction.state == 'c' %}
        <h1>The action is Canceled</h1>
        <h1>The winner is {{ auction.winner }}</h1>
    {% endif %}
    {% if user.is_authenticated %}
        {% if auction.author == user %}
            <form action="{% url 'edit' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name='auc_id' value="{{ auction.id }}">
                <input type="submit" value="Edit">
            </form>
            {% if auction.state == 'a' %}
                <form action="{% url 'cancel' auction.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Cancel">
                </form>
            {% else %}
                <form action="{% url 'resume' auction.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Resume">
                </form>
            {% endif %}
            <form action="{% url 'auction_remove' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name='auc_id' value="{{ auction.id }}">
                <input type="submit" value="Видалити">
            </form>
        {% endif %}
    {% endif %}

    <h1>{{ auction.title }}</h1>
    {% if auction.image %}
        <img src="{{ auction.image.url }}">
    {% endif %}
    {% if bet %}
        <h2>Estimate value: {{ bet.value }} $</h2>
    {% endif %}
    {% if user.is_authenticated %}
        <form action="{% url 'bet' %}" method="post">
            {% csrf_token %}
            <input type="number" name="bet">
            <input type="hidden" name="auction_id" value="{{ auction.id }}">
            <input type="submit" value="Bet">
        </form>
    {% endif %}
    {% if message %}
        <h2>{{ message }}</h2>
    {% endif %}
    <h3>Start value: {{ auction.value }} $</h3>

    <p>{{ auction.content }}</p>
    <div style="margin-left: 40px;">
    {% for comment in comments %}
        <div>
            <p><b>{{ comment.author }}</b>, {{ comment.date_mark }}</p>
            <p style="margin-left: 20px;">{{ comment.content }}</p>
        </div>
    {% empty %}
        <p>No comments provided</p>
    {% endfor %}
    </div>
    {% if user.is_authenticated %}
        <form action="{% url 'add_comment' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="auction" value="{{ auction.id }}">
            <input type="text" name="comment">
            <input type="submit" value="Sent">
        </form>
    {% endif %}
{% endblock %}