{% extends "auctions/layout.html" %}

{% block body %}
    <h2>My Orders</h2>
    {% for order in orders %}
        <div>
            <a href="{% url 'auction' order.auction.id %}">
                <p>{{ order.auction.title }}</p>
            </a>
            {% if order.auction.image %}
                <img src="{{ order.auction.image.url }}">
            {% endif %}
            {% if user.is_authenticated %}
                <form action="{% url 'order_remove' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="auc_id" value="{{ order.id }}">
                    <input type="submit" value="Remove from Orders">
                </form>
            {% endif %}
            {% if order.auction.bet_auction.all %}
                <p>{{ order.auction.bet_auction.all.last.value }}$</p>
            {% else %}
                <p>{{ order.auction.value }}$</p>
            {% endif %}
            <p>Quantity: {{ order.quantity }}</p>
            <p>{{ order.auction.content }}</p>
        </div>
    {% empty %}
        <p>No auction is added</p>
    {% endfor %}

{% endblock %}